@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;500;700&display=swap');

/* h2{
  border: 2px solid black;
  text-align: center;
} */

h2{
  width: 500px;
  /* border: 2px solid black; */
  /* text-align: center;  */
  /* text-decoration: underline; */
  /* text-decoration-line: underline;
  text-decoration-style: solid; */

  text-decoration: underline;
  text-decoration: none;
}

a{
  text-decoration: none;
  /* border-width: 2px;
  border-style: solid;
  border-color: green; */
  border: 2px solid green;
}

p{
  font-size: 14px;
  /* font-style: italic; */
  /* font-weight: 900; */
  /* font-family: sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-weight: 600; */
  line-height: 18px;
  letter-spacing: 10px;
  word-spacing: 10px;
}

